node_modules
/templates/*/app
/templates/*/dist
/templates/*/dist-static
/templates/*/.astro
/templates/*/out
/templates/*/generated
/templates/*/packages/client/dist
/templates/*/packages/client/project
/milkio-project

/templates/*/.wrangler
/templates/*/.vercel